<div [ngBusy]="busyIndicator">
  <div *ngIf="_imageService.imageMeta | async; else nometa; let imageMeta">
    <div *ngIf="_imageService.dimensions | async; else nodimensions; let dimensions">
      <div id="navtabs">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a [ngClass]="_navLinkClass(browserView.Overview)"
               [routerLink]="_routerLink(browserView.Overview)">Whole page</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="_navLinkClass(browserView.Selections)"
               [routerLink]="_routerLink(browserView.Selections)">Selections</a>
          </li>
        </ul>
      </div>
      <div [ngSwitch]="view">
        <app-img-region-editor *ngSwitchCase="browserView.Overview"
          [imageMeta]="imageMeta" [dimensions]="dimensions">
        </app-img-region-editor>
        <app-img-region-editor-bysel *ngSwitchCase="browserView.Selections"
          [imageMeta]="imageMeta" [dimensions]="dimensions"
          [pageRange]="_pageRangeService.pageRange">
        </app-img-region-editor-bysel>
      </div>
    </div>
    <ng-template #nodimensions>
      <app-img-dimension-probe
        [href]="_probeHref(imageMeta)"
        (output)="_imageService.setDimensions($event)">
      </app-img-dimension-probe>
    </ng-template>
  </div>
  <ng-template #nometa>
    <p>Loading ...</p>
  </ng-template>
</div>
