.layout {
  display: grid;
  grid-template-columns:  600px;
  grid-template-rows:  30px auto;
}

.body {
  display: grid;
  grid-template-columns:  350px auto;
}

.left-pane {
  display: grid;
  grid-template-rows:  auto 50px;
}

.storage-upload {
   position: fixed;
   padding: 10px;
   bottom: 0px;
}
