<div *ngIf="_context.treePaneSelection; else noselection">
  <div [ngSwitch]="_context.treePaneSelection.type">
    <div *ngSwitchCase="nodeType.Zip">
      <p>Zip file</p>
    </div>
    <div *ngSwitchCase="nodeType.Folder">
      <p>Folder</p>
    </div>
    <div *ngSwitchCase="nodeType.Image">
      <div id="navtabs">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a [ngClass]="_navLinkClass(browserView.Overview)"
               [routerLink]="_routerLink(browserView.Overview)">Whole page</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="_navLinkClass(browserView.Selections)"
               [routerLink]="_routerLink(browserView.Selections)">Selections</a>
          </li>
        </ul>
      </div>
      <div *ngIf="_regionEditor.imageMeta; else nometa">
        <div [ngSwitch]="view">
          <div *ngSwitchCase="browserView.Overview">
            <app-img-region-editor
              [imageMeta]="_regionEditor.imageMeta"
              [regions]="_regionEditor.imageMeta.regions"
              [dimensions]="_regionEditor.dimensions"
              [imageHref]="_regionEditor.imageHref">
            </app-img-region-editor>
          </div>
          <div *ngSwitchCase="browserView.Selections">
            <p>TODO: Selections view</p>
          </div>
        </div>
      </div>
      <ng-template #nometa>
        <p>Loading ...</p>
      </ng-template>
    </div>
  </div>
</div>
<ng-template #noselection>
  <p>No selection</p>
</ng-template>
