<div class="container-fluid">
  <form>
    <div class="media">
      <app-ire-bs-image class="d-flex mr-3"
        [imageMeta]="imageMeta" [region]="region" [dimensions]="dimensions"
        [width]="300" [height]="300">
      </app-ire-bs-image>
      <div class="media-body" id="editor-body">
        <h5>Region 1.</h5>
        <small class="form-text text-muted">
          x:{{_x}}, y:{{_y}}, width:{{_width}}, height:{{_height}}
        </small>
        <hr>
        <div class="form-group row">
          <label for="region-text" class="col-sm-2 col-form-label">Text</label>
          <div class="col-sm-10">
            <input id="region-text"
                   type="text"
                   readonly class="form-control-plaintext"
                   [value]="_textString(region.text)">
          </div>
        </div>
        <div class="form-group row">
          <label for="region-status" class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-10">
            <input id="region-status"
                   type="text"
                   readonly class="form-control-plaintext"
                   [value]="_statusString(region.status)">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
