<div class="container-fluid">
  <div class="media">
    <app-ire-bs-image class="d-flex mr-3"
      [imageMeta]="imageMeta" [region]="region" [dimensions]="dimensions"
      [width]="300" [height]="300">
    </app-ire-bs-image>
    <div class="media-body" id="body">
      <div class="pull-right">
        <button type="button" class="btn btn-primary btn-sm"
          (click)="_editRegion($event, region)">Edit...</button>
      </div>
      <h5>Region 1.</h5>
      <small class="text-muted">
        x:{{_x}}, y:{{_y}}, width:{{_width}}, height:{{_height}}
      </small>
      <hr>
      <app-img-region-editor-bysel-preview
        [region]="region">
      </app-img-region-editor-bysel-preview>
    </div>
  </div>
</div>
