<div *ngIf="_editorPageState | async; let eps" [ngBusy]="busyIndicator">
  <div id="mysel-main-area">
    <div *ngFor="let region of eps.regionsOnPage" class="card">
      <app-img-region-editor-bysel-sel
        [imageMeta]="eps.imageMeta"
        [region]="region"
        [dimensions]="eps.dimensions">
      </app-img-region-editor-bysel-sel>
    </div>
  </div>
  <app-paginator *ngIf="eps.pageRange.numPages > 1"
    [pageRange]="eps.pageRange"
    [linkGenerator]="_linkGenerator">
  </app-paginator>
</div>
