<div>
  <div style="row">
    <button type="button" class="btn btn-primary" (click)="onRotateCCW($event)">
      <i class="nodeicon fa fa-rotate-left"></i>
    </button>
    <button type="button" class="btn btn-primary" (click)="onRotateCW($event)">
      <i class="nodeicon fa fa-rotate-right"></i>
    </button>
  </div>
  <hr>
  <div *ngIf="ImageHref;else loading" style="row">
    <img #regionEditor src="{{ImageHref}}" class="img-fluid">
  </div>
  <ng-template #loading>
    <p>Loading image ...</p>
  </ng-template>
</div>
