<div class="container-fluid">
  <div id="overview-buttons">
    <div class="btn-group" data-toggle="buttons">
      <button type="button" class="btn btn-primary" (click)="_rotateCCW($event)">
        <i class="nodeicon fa fa-rotate-left"></i>
      </button>
      <button type="button" class="btn btn-primary" (click)="_rotateCW($event)">
        <i class="nodeicon fa fa-rotate-right"></i>
      </button>
    </div>
    <button type="button" class="btn btn-danger" (click)="_saveRegions($event)">
      <i class="nodeicon fa fa-floppy-o"></i>
    </button>
  </div>
  <div *ngIf="_imageInfo$ | async; let imageInfo">
    <app-ire-main-area
      [imageHref]="imageInfo.href"
      [width]="imageInfo.width" [height]="imageInfo.height"
      [areas]="areas" (areasChanged)="_areasChanged($event)">
    </app-ire-main-area>
  </div>
</div>
