<div>
  <div style="row">
    <button type="button" class="btn btn-primary" (click)="onRotateCCW($event)">
      <i class="nodeicon fa fa-rotate-left"></i>
    </button>
    <button type="button" class="btn btn-primary" (click)="onRotateCW($event)">
      <i class="nodeicon fa fa-rotate-right"></i>
    </button>
    <button type="button" class="btn btn-primary" (click)="onSaveRegions($event)">
      <i class="nodeicon fa fa-rotate-right"></i>
    </button>
  </div>
  <hr>
  <div *ngIf="ImageHref;else loading" style="row">
    <app-ire-main-area
      [ImageHref]="ImageHref"
      [(Regions)]="Regions">
    </app-ire-main-area>
  </div>
  <ng-template #loading>
    <p>Initializing component ...</p>
  </ng-template>
</div>
