<div class="container">
  <form (ngSubmit)="_submit($event)" #regionForm="ngForm">
    <div class="form-group row">
      <label for="regionText" class="col-sm-2 col-form-label"><strong>Text</strong></label>
      <div class="col-sm-10">
        <input type="text"
               class="form-control"
               id="regionText"
               name="regionText"
               placeholder="Region text"
               [(ngModel)]="_model.text"
               required>
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-legend col-sm-2"><strong>Status</strong></legend>
        <div class="col-sm-10">
          <div class="form-check">
            <label class="form-check-label">
              <input id="regionStatus1"
                     class="form-check-input"
                     type="radio"
                     name="regionStatus"
                     [value]="regionStatus.Default"
                     [(ngModel)]="_model.status">
              Created interactively by Human operator
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input id="regionStatus2"
                     class="form-check-input"
                     type="radio"
                     name="regionStatus"
                     [value]="regionStatus.LowUncertainty"
                     [(ngModel)]="_model.status">
              Created by Machine Learning algorightm / Low estimated probability of error
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input id="regionStatus3"
                     class="form-check-input"
                     type="radio"
                     name="regionStatus"
                     [value]="regionStatus.HighUncertainty"
                     [(ngModel)]="_model.status">
              Created by Machine Learning algorightm / High estimated probability of error
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input id="regionStatus4"
                     class="form-check-input"
                     type="radio"
                     name="regionStatus"
                     [value]="regionStatus.HumanVerified"
                     [(ngModel)]="_model.status">
              Validity of this data is verified by Human Operator
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <label for="regionTags" class="col-sm-2 col-form-label"><strong>Tags</strong></label>
      <div class="col-sm-10">
        <tag-input id="regionTags"
                   name="regionTags"
                   theme="bootstrap"
                   [onAdding]="_onAdding"
                   [(ngModel)]="_model.tags">
          <tag-input-dropdown [autocompleteObservable]='_requestAutocompleteItems'>
          </tag-input-dropdown>
        </tag-input>
      </div>
    </div>
    <div class="pull-right">
      <button type="submit"
              class="btn btn-primary"
              [disabled]="!regionForm.form.valid">Submit</button>
    </div>
  </form>
</div>
