<div *ngIf="_region | async; let region" class="container">
  <form>
    <div class="form-group row">
      <label for="regionText" class="col-sm-2 col-form-label"><strong>Text</strong></label>
      <div class="col-sm-10">
        <input type="text"
               class="form-control"
               id="regionText"
               placeholder="Region text"
               [(value)]="region.text">
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-legend col-sm-2"><strong>Status</strong></legend>
        <div class="col-sm-10">
          <div class="form-check">
            <label class="form-check-label">
              <input id="gridRadios1"
                     class="form-check-input"
                     type="radio"
                     name="gridRadios"
                     value="Default"
                     [checked]="_isStatus(region.status, regionStatus.Default)"
                     (change)="_setStatus(region, $event)">
              Created interactively by Human operator
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input id="gridRadios2"
                     class="form-check-input"
                     type="radio"
                     name="gridRadios"
                     value="LowUncertainty"
                     [checked]="_isStatus(region.status, regionStatus.LowUncertainty)"
                     (change)="_setStatus(region, $event)">
              Created by Machine Learning algorightm / Low estimated probability of error
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input id="gridRadios3"
                     class="form-check-input"
                     type="radio"
                     name="gridRadios"
                     value="HighUncertainty"
                     [checked]="_isStatus(region.status, regionStatus.HighUncertainty)"
                     (change)="_setStatus(region, $event)">
              Created by Machine Learning algorightm / High estimated probability of error
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input id="gridRadios4"
                     class="form-check-input"
                     type="radio"
                     name="gridRadios"
                     value="HumanVerified"
                     [checked]="_isStatus(region.status, regionStatus.HighUncertainty)"
                     (change)="_setStatus(region, $event)">
              Validity of this data is verified by Human Operator
            </label>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
