<div *ngIf="isSelectionsPresent; else noselection"
     [ngStyle]="topLevelStyles">
  <img class="blurred"
       [src]="imageHref"
       [ngStyle]="imgStyles"
       [width]="width"
       [height]="height">
  <div class="select-areas-overlay" [ngStyle]="overlayStyles"></div>
  <div [ngStyle]="backgroundStyles"
       (mousedown)="onOutsideSelectionMouseDown($event)">
  </div>
  <i *ngFor="let area of areas; let ix = index">
    <app-ire-main-area-sel
       [imageHref] ="imageHref" [area] = "area"
       [outerWidth] = "width" [outerHeight] = "height"
       (mousedown) = "onSelectionMouseDown($event, ix)">
    </app-ire-main-area-sel>
    <i *ngIf="ix===selectedArea">
      <app-ire-main-area-handlers
       [area]="area"
       [show]="true"
       (mousedown) = "onHandlerMouseDown($event, ix)">
      </app-ire-main-area-handlers>
    </i>
  </i>
</div>
<ng-template #noselection>
  <img [src]="imageHref"
       [width]="width"
       [height]="height"
       [ngStyle]="imgNoSelectionStyles"
       (mousedown)="onOutsideSelectionMouseDown($event)">
</ng-template>
