<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5 col-md-3 hidden-xs-down bg-faded sidebar">
      <div [ngBusy]="busy"></div>
      <div>
        <tree-view [Nodes]="storage.Nodes"
                   [SelectedNode]="selectedNode"
                   (onSelectedChanged)="onSelectNode($event)"
                   (onRequestNodes)="onRequest($event)">
        </tree-view>
      </div>
      <hr>
      <div>
        <app-upload-form></app-upload-form>
      </div>
    </div>
    <main class="col-sm-7 offset-sm-5 col-md-9 offset-md-3 pt-3">
      <p *ngIf="nodeIsPdf">
        <pdf-viewer [src]="contentUrl"
                    [page]="page"
                    [original-size]="false">
        </pdf-viewer>
      </p>
      <p *ngIf="!nodeIsPdf">Please, select a PDF document</p>
    </main>
  </div>
</div>
