<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5 col-md-3 hidden-xs-down bg-faded sidebar">
      <div [ngBusy]="busy"></div>
      <div>
        <tree-view [Nodes]="storage.Nodes"
                   [SelectedNode]="selectedNode"
                   (onSelectedChanged)="onSelectNode($event)"
                   (onRequestNodes)="onRequest($event)">
        </tree-view>
      </div>
      <hr>
      <div>
        <app-upload-form></app-upload-form>
      </div>
    </div>
    <main class="col-sm-7 offset-sm-5 col-md-9 offset-md-3 pt-3">
      <div *ngIf="selectedNode">
        <div [ngSwitch]="selectedNode.type">
				  <div *ngSwitchCase="nodeType.Zip">
            <p>Zip file</p>
          </div>
				  <div *ngSwitchCase="nodeType.Folder">
            <p>Folder</p>
          </div>
				  <div *ngSwitchCase="nodeType.Image">
            <app-img-region-editor [SelectedNode]="selectedNode">
            </app-img-region-editor>
          </div>
			  </div>
      </div>
      <div *ngIf="!selectedNode">
        <p>No selection</p>
      </div>
    </main>
  </div>
</div>
