<div class="row">
  <div class="col-sm-2"><strong>Text</strong></div>
  <div class="col-sm-10">
    <p *ngIf="region.text; else notext">{{region.text}}</p>
    <ng-template #notext>
      <span class="badge badge-danger">None</span>
    </ng-template>
  </div>
</div>
<div class="row">
  <div class="col-sm-2"><strong>Status</strong></div>
  <div class="col-sm-10">
    <span class="{{_statusClass(region.status)}}">{{_statusString(region.status)}}</span>
  </div>
</div>
<div class="row">
  <div class="col-sm-2"><strong>Tags</strong></div>
  <div class="col-sm-10">
    <div *ngIf="_anyTags(region); else notags">
      <div *ngFor="let tag of region.tags" class="tag">
        <span class="badge badge-info">{{tag.name}}</span>
      </div>
    </div>
    <ng-template #notags>
      <span class="badge badge-danger">None</span>
    </ng-template>
  </div>
</div>
